<%= form_for(@socio) do |f| %>
  <% if @socio.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@socio.errors.count, "error") %> prohibited this socio from being saved:</h2>

      <ul>
      <% @socio.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :document %><br>
    <%= f.text_field :document %>
  </div>
  <div class="field">
    <%= f.label :lastname %><br>
    <%= f.text_field :lastname %>
  </div>
  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :password %><br>
    <%= f.text_field :password %>
  </div>
  <div class="field">
    <%= f.label :numberpoints %><br>
    <%= f.text_field :numberpoints %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
