<p id="notice"><%= notice %></p>

<p>
  <strong>Numberchairp:</strong>
  <%= @chair.numberChairP %>
</p>

<p>
  <strong>Numberchairg:</strong>
  <%= @chair.numberChairG %>
</p>

<p>
  <strong>Occupiedp:</strong>
  <%= @chair.occupiedP %>
</p>

<p>
  <strong>Occupiedg:</strong>
  <%= @chair.occupiedG %>
</p>

<p>
  <strong>Seat:</strong>
  <%= @chair.seat %>
</p>

<%= link_to 'Edit', edit_chair_path(@chair) %> |
<%= link_to 'Back', chairs_path %>
