<p id="notice"><%= notice %></p>

<p>
  <strong>Pelicula:</strong>
  <%= @boletu.movie %>
</p>

<p>
  <strong>Ticket:</strong>
  <%= @boletu.ticket %>
</p>

<p>
  <strong>Precio a credito:</strong>
  <%= @boletu.pricecredit %>
</p>

<p>
  <strong>Precio con puntos:</strong>
  <%= @boletu.pricepoints %>
</p>

<p>
  <strong>Numero de puntos:</strong>
  <%= @boletu.numberpoints %>
</p>

<p>
  <strong>Tipo de boleta:</strong>
  <%= @boletu.typeboletus %>
</p>

<%= link_to 'Edit', edit_boletu_path(@boletu) %> |
<%= link_to 'Back', boletus_path %>
