<h1>Cinema UDEA</h1>

<h3>Podras acceder a los siguientes servicios</h3>

<%= link_to "Boleta", boletus_path%><br />
<%= link_to "Comentario", coments_path%><br />
<%= link_to "Pelicula", movies_path%><br />
<%= link_to "Sillas", chairs_path%><br />
<%= link_to "Tickets", tickets_path%><br />
<%= link_to "Socios", socios_path%><br />
<%= link_to "Salas", halls_path%><br />
<%= link_to "Calidad", qualities_path%><br />
<%= link_to "Horario", horaries_path%><br />
<%= link_to "Sede", seats_path%><br />
